<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>

    <!-- menu desplegable -->
    <button mat-button [matMenuTriggerFor]="menu">Productos</button>
    <mat-menu #menu="matMenu">
     <button mat-menu-item routerLink="/producto">Productos</button>
     <button mat-menu-item routerLink="/autos">Autos</button>
     <button mat-menu-item routerLink="/motos">Motos</button>
     <button mat-menu-item routerLink="/usados">Usados</button>
    </mat-menu>  

    <span class="example-spacer"></span>
    
    
    <!-- Menú desplegable para manejar todo el acceso de los usuarios en la página -->
    <button mat-button [matMenuTriggerFor]="usuario"><mat-icon>person</mat-icon></button>
    <mat-menu #usuario="matMenu">
      <button mat-menu-item (click)="ingresar()" *ngIf="logueado" routerLink="/registro">Registrarse</button>
      <button mat-menu-item (click)="ingresar()" *ngIf="logueado" routerLink="/inicio-sesion">Iniciar Sesión</button>
      <button mat-menu-item (click)="cerrarSesion()" *ngIf="deslogueado">Cerrar Sesión</button>
    </mat-menu>

    <!-- carrito -->
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    
  </mat-toolbar>
  
